@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento'), url(http://themes.googleusercontent.com/static/fonts/quattrocento/v4/WZDISdyil4HsmirlOdBRFKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

body {
	color: #333333;
	width: 570px;
  padding: 0 10px;
	font-family: 'Quattrocento', sans-serif;
	font-size: 20px;
  background: url('backgrounds/marrakesh.jpg');
	background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

h1 {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  font-size: 2em;
  margin-bottom: 0;
}

small {
  font-size: 0.4em;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 5px;
  line-height: 20px;
}
li.small {
  font-size: 0.5em;
}

a, a:visited{
	color: #333;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

@media screen and (max-width: 900px) {
	body {
    width: 90%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: contain;
    padding-bottom: 250px;
	}
  header h1{
    font-size: 33px
  }
}

@media screen and (max-width: 1000px) and (min-width: 481px) {
	body {
		width: 55%;
    min-width: 370px;
    margin-left: 0;
	}
  header h1{
    font-size: 38px
  }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  body {
    background-image: url('backgrounds/marrakesh_retina.jpg');
  }
}

::-moz-selection { background: #D81313; color: #fff; text-shadow: none; }
::selection { background: #D81313; color: #fff; text-shadow: none; }
