@import url(http://fonts.googleapis.com/css?family=Salsa|Quattrocento);
body {
	color: #333333;
	width: 570px;
	margin: 0 auto;
  padding: 0 10px;
	font-family: 'Quattrocento', serif;
	font-size: 1.2em;
	background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: cover;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

h1 {
	font-family: 'Salsa', cursive;
	font-size: 2em;
	margin-bottom: 0;
  margin-left: -60px;
}

small {
  font-size: 0.4em;
}

a, a:visited{
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media screen and (max-device-width: 480px){
	body{
		background-size: auto 800px;
	}
}

body.light {
  color: #fafafa;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

body.light a, body.light a:visited{
	color: #fff;
	text-decoration: none;
}

body.color p {
  background: rgba(216, 19, 19, 0.8);
}

body.color.light p {
  text-shadow: none;
}

body.dark_header h1 {
  color: #333333 !important;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) !important;
}

body.more_shadow {
  text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.5);
}
body.more_shadow.light {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
}

::-moz-selection { background: #D81313; color: #fff; text-shadow: none; }
::selection { background: #D81313; color: #fff; text-shadow: none; }

#wallpaper_credits {
  position: fixed;
  bottom: 0px;
  right: 0px;
  text-shadow: none !important;
  color: #fff;
  background: rgba(0,0,0, 0.5);
  padding: 5px;
  font-size: 15px;
  display: none;
}
#wallpaper_credits a, #wallpaper_credits a:visited {
  text-decoration: underline;
  color: white;
}