* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;

  padding: 0;

  background: #f9f9f9;
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 21px;
}

.main {
  padding: 0 20px;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  font-family: Georgia;
}

header {
  padding-top: 2em;
}

p {
  margin: 1em 0;
  line-height: 1.2em;
}

a, a:visited{
  color: #333;
  text-decoration: none;
}

a.always-underline {
  border-bottom: 1px solid #666;
}

a:hover {
  text-decoration: underline;
  border-bottom: 0;
}

/* background adjustments */

@media screen and (min-width: 800px) {
  .container {
    display: flex;
  }
  .main {
    flex: 5;
  }
  .image {
    flex: 3;
  }
}

@media screen and (max-height: 370px)  {
  body {
    height: 100%;
  }
}

/* text adjustments */
@media screen and (max-width: 1024px) {
  a, a:visited{
    border-bottom: 1px solid #666;
  }
}
@media screen and (max-width: 600px) and (min-width: 351px) {
  body {
    font-size: 19px;
  }
  header h1{
    font-size: 1.7em;
  }
}
@media screen and (max-width: 350px) {
  body {
    font-size: 17px;
  }
  .main {
    padding: 0 10px;
  }
  header h1{
    font-size: 1.5em;
  }
}

::-moz-selection { background: #28bbff; color: #fff; text-shadow: none; }
::selection { background: #28bbff; color: #fff; text-shadow: none; }

.image img {
  width: 100%;
  height: auto;
}
